@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

//Cores
$azul-escuro: #00020e;
$azul-escuroII: #06091a;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    overflow-x: hidden;
    background-color: #000;
}

body::-webkit-scrollbar {
    width: 5px;             
  }
  
  body::-webkit-scrollbar-track {
    background: rgb(20, 20, 20);       
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #fc5222;        
  }

main{
    width: 100%;
    height: 50vh;
    display: flex;
    padding-top: 10vh;

    @media(max-width: 1200px){
        height: 100vh;
        flex-direction: column;
        padding: 0!important;
    }

    .titulo{
        width: 50%;
        height: 40vh;
        background-color: transparent;
        padding-left: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @media(max-width: 1200px){
            padding: 5%;
            height: 60vh;
            width: 100%;
            
        }
        
        h1{
            color: #fff;
            font-size: 10vh;
            font-weight: bolder;

            @media(max-width: 1200px){
                font-size: 3rem;
                padding-top: 5vh;
            }
        }
        h2{
            color: #ff6b35;
            margin-top: -30px;
            font-size: 1.6rem;

            @media(max-width: 1200px){
                font-size: 1rem;
                margin-top: -10px;
            }
        }
        p{
            color: #c4c4c4;
            margin-top: 20px;
            font-weight: 400;
            font-size: 1.2rem;
            @media(max-width: 1200px){
                font-size: .8rem;
            }
        }
        a{
            color: #fff;
            text-decoration: none;
            margin-top: 20px;
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            background-color: $azul-escuroII;
            width: 180px;
            text-align: center;
            padding: 10px 20px;
            border-radius: 12px;
            transition: .4s;

            @media(max-width: 1200px){
                font-size: 1rem;
                padding: 5px 10px;
                width: 140px;
            }

            &:hover{
                margin-left: 5px;
                transition: .4s;
                background-color: #1a1d31;
            }
        }
    }
    .marte{
        width: 25%;
        height: 40vh;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @media(max-width: 1200px){
            width: 100%;
            height: 30vh;
            justify-content: center;
        }

        img{
            width: 50%;
        }
    }
    .redes-sociais{
        width: 25%;
        height: 40vh;
        background-color: transparent;

        @media(max-width: 1200px){
            width: 100%;
            background-color: transparent;
        }

        .seta{
            position: absolute;
            right: 0;
            margin-right: 15.5vw;
            margin-top: -20px;

            @media(max-width: 1200px){
                margin-top: -280px;
            }

            img{
                width: 20px;
            }
        }

        .links{
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            gap: 10px;
            padding-right: 15vw;

            @media(max-width: 1200px){
                flex-direction: row;
                padding: 0;
                align-items: center;
                gap: 20px;
            }

            a{
                text-decoration: none;
                transition: .4s;

                &:hover{
                    opacity: .8;
                    transition: .4s;
                }

                img{
                    width: 40px;
                }
            }
        }
    }
}
.marte-bg{
    width: 100%;
    height: 60vh;
    background-image: url('../img/mars.png');
    background-position: top;

    @media(max-width: 1200px){
        width: 100%;
        height: 30vh;
        background-size: 160%;
        background-position: top;
        margin-top: -100px;
    }

    .gradient{
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, #00000000 60%, #000);
    }
}

.section-one{
    width: 100%;
    height: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    min-height: 50vh;

    @media(max-width: 1200px){
        flex-direction: column;
    }

    .card{
        width: 60%;
        height: 40vh;
        background-color: $azul-escuroII;
        border-radius: 18px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        @media(max-width: 1200px){
            padding: 5%;
            width: 100%;
            height: auto;
        }

        span{
            font-size: 2rem;
            color: #fff;
            font-weight: bolder;

            @media(max-width: 1200px){
                font-size: 1.2rem;
                text-align: center;
            }
        }
        p{
            color: #c4c4c4;
            font-size: 1.2rem;

            @media(max-width: 1200px){
                font-size: .8rem;
                text-align: justify;
            }
        }
    }

    .card-transparent{
        width: 40%;
        height: 40vh;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 30px;

        @media(max-width: 1200px){
            width: 100%;
            height: auto;
            padding: 5%;
        }

        span{
            color: #c4c4c4;
            font-size: 1.4rem;
            display: flex;
            align-items: center;
            padding: 10px 20px;
            border-radius: 18px;
            transition: .4s;
            font-weight: bolder;

            @media(max-width: 1200px){
                font-size: .8rem;
            }

            &:hover{
                background-color: #06091a;
                cursor: pointer;
                color: #fff;
                transition: .4s;
                margin-left: 10px;
            }
        }
    }
}

.section-two{
    background-image: url('../img/wallpaperflare.com_wallpaper.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;

    @media(max-width: 1200px){
        flex-direction: column;
    }

    .parte-1{
        width: 50%;

        @media(max-width: 1200px){
            width: 100%;
            height: 65%;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
            justify-content: center;
            background-color: transparent;
        }

        span{
            color: #fff;
            font-size: 3rem;
            font-weight: bolder;

            @media(max-width: 1200px){
                font-size: 2rem;
            }
        }
        p{
            color: #fff;
            padding-right: 5%;

            @media(max-width: 1200px){
                font-size: .8rem;
            }
        }
    }

    .parte-2{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media(max-width: 1200px){
            width: 100%;
            height: 35%;
            align-items: flex-start;
        }

        iframe{
            border-radius: 18px;
            height: 30vh;

            @media(max-width: 1200px){
                height: 20vh;
               
                border-radius: 18px;
            }
        }
    }
}